---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a>
        About
      </a>
    </h1>

    <span class="post-date">07 Apr 2020</span>

    <p>Hi! My name is Nikhil. I am an undergrad at Manipal Institute of Technology studying Mechatronics. I am interested in Deep Learning with a specialization in Computer Vision and Data Analytics.</p>

    <h3>What is this for?</h3>

    <p>This is my neat little space to compile the things that I learn. It will hopefully prove to help others as well.</p>

    <h3>What will it cover?</h3>
    <p>It will potentially cover the following topics:
    <ul>
    <li>Research paper analysis (and hopefully an implementation)</li>
    <li>Projects I'm currently working on</li>
    <li>Projects I plan to work on</li>
    <li>Kaggle challenges and personal solutions</li>
    <li>Other interesting topics and studies</li>
    </ul>
    </p>

    <br>
    <p>Thanks!</p>

  </div>
  {% endfor %}
</div>

<h1>Posts</h1>

<div class="posts">
  <div class="post">
    <h2 class="post-title">
      <a href="{{ absolute_url }}/objdetect-1 ">
        License Plate Transcription using Object Detection (Part 1)
      </a>
    </h2>

    <span class="post-date">07 Apr 2020</span>

    {{ post.content }}
  </div>
</div>
<div class="posts">
  <div class="post">
    <h2 class="post-title">
      <a href="{{ absolute_url }}/objdetect-2 ">
        License Plate Transcription using Object Detection (Part 2)
      </a>
    </h2>

    <span class="post-date">14 Apr 2020</span>

    {{ post.content }}
  </div>
</div>



<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
